<!DOCTYPE html>
<html>
  <body>
    <div id="headApp">
    <h1>Seek & enjoy</h1>
    <h3>Your movie seeker</h3>
    <div id="containerForm">
      <form class="form-wrapper cf">
        <input type="text" placeholder="Find your movie" required>
        <button type="submit"><img src="./images/search.png"></button>
      </form>
    </div>
  </div>
  </body>
</html>

