<!DOCTYPE html>
<html>
  <body>
    <div id="container">
      <div id="containerHeader">
        <h1>Seek & enjoy</h1>
        <h3>Your movie seeker</h3>
        <div id="containerForm">
          <form class="form-wrapper cf">
            <div id="inputplusbuttons">
              <input type="text" placeholder="Find your movie" required>
              <div id="containerButtons">
                <div id="seekdiv">
                  <a id="seek" href="#"> <span id="seektext"> Seek </span></a>
                </div>
                <div id="restdiv">
                  <a id="reset" href="#"> <span id="resettext"> Reset </span></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="results">
        <p>
        </p>
        <div id="movieList">
        </div>
        <div id="movieDetails">
        </div>
      </div>
    </div>
  </body>
</html>

