<h1>Seek & Enjoy</h1>

<h3>Your movie seeker</h3>

<form action="formHandler.php" method="GET" id="movieSearchForm">
<input
    name="query"
  type="search"
    id="search"
    placeholder="Find a Movie">
  <button>
    Search
  </button>
</form>

</br></br>
<div id="movieList">
</div>
<div id="containerDetails">
</div>
