<h1>My new Website</h1>

<form method="GET" id="movieSearchForm">
<input
    name="query"
    type="search"
    id="search"
    placeholder="Find a Movie">

<button>
    Search
  </button>
</form>


<div id="resultList">
</div>
<div id="movieList">
</div>
