<h1>Film Seeker</h1>

<form action="formHandler.php" method="GET" id="movieSearchForm">
<input
    name="query"
    type="search"
    id="search"
    placeholder="Find a Movie">
  <button>
    Search
  </button>
</form>

<div id="details">
</div>
<div id="movieList">
</div>
