body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

.movie p {
  text-decoration: underline;
  color: #0022FF;
}


.movie p:hover {
  text-decoration: underline;
  color: #990099;
}


#details {
  float: right;
  background: #CACACE;
  width: 400px;
}

#movieList {
  float: left;
}

#movieList, #details {
  clear:none;
}

li {
  text-align: left;
}

span {
font-weight: bold;
}
